
@model MovieDetailViewModel
@using System.Text.Json
@using GummyMeter.Helpers
@{
	ViewData["Title"] = "Movie Details";
	//var movie = ViewBag.Movie;
}
<style>
	.meter{
		color:#fff;
		text-align:center;
		
	}

</style>
<div class="buster-light">
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
				<li class="active"><a href="#">Home</a></li>
				<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img">
					<img src="https://image.tmdb.org/t/p/w500/@Model.Movie.PosterPath" class="card-img-top" alt="@Model.Movie.Title"/>
					@* <img src="/images/uploads/movie-single.jpg" alt=""> overview *@
					<div class="movie-btn">
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							@if (!string.IsNullOrEmpty(Model.TrailerYoutubeKey))
							{
								<div><a href="https://www.youtube.com/embed/@Model.TrailerYoutubeKey" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
							}

						</div>
						@* <div class="btn-transform transform-vertical"> *@
						@* 	<div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div> *@
						@* 	<div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div> *@
						@* </div> *@
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">@Model.Movie.Title <span>@Convert.ToDateTime(@Model.Movie.ReleaseDate).ToString("yyyy")</span></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
							</div>
						</div>
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p>
								<span id="avgRating" class="ms-2">(@Model.Avg:0.0)</span> /10<br>
								<span class="rv">56 Reviews</span>
							</p>
						</div>
						<div class="rate-star">

							@for (int i = 1; i <= 5; i++)
							{
								var @class = (Model.UserRating.HasValue && i <= Model.UserRating)
								? "ion-ios-star"
								: "ion-ios-star eee";
								<i class="@($"{@class} fa-star fs-2 text-warning me-1 star")"
								data-score="@i" role="button"
								aria-label="@($"Rate {i} stars")">
								</i>
							}
						</div>
					</div>
					<div class="ratings details">
						<div class="row gy-4">
                    <div class="col-xs-4 col-xs-offset-1 col-md-2 col-md-offset-0 align-self-end">
                        <div class="ratings-info gummy">
                            <img class="ratings-img" src="~/images/uploads/juicy.png" alt="juicy rating">
                            <div class="text-center">
                                <h5>@Model.Movie.FakeTomatometer%</h5>
                                <span class="small-text">Gummy</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-xs-offset-1 col-md-2 col-md-offset-0 align-self-start">
                        <div class="ratings-info splat">
                            <img class="ratings-img" src="~/images/uploads/sticky.png" alt="sticky mess rating">
                            <div class="text-center">
                                <h5>@Model.Movie.FakePopcornmeter%</h5>
                                <span class="small-text">Splat</span>
                            </div>
                        </div>
                    </div>
                </div>
					</div>
					<div class="movie-tabs" style="margin-top:2rem;">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#media"> Media</a></li>
								<li><a href="#moviesrelated"> Related Movies</a></li>
							</ul>
							<div class="tab-content">
								<div id="overview" class="tab active">
									<div class="row">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<p>@Model.Movie.Overview</p>
											<div class="title-hd-sm">
												<h4>Videos & Photos</h4>
												<a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
											</div>
											<div class="mvsingle-item ov-item">
												<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image11.jpg"><img src="/images/uploads/image1.jpg" alt=""></a>
												<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image21.jpg"><img src="/images/uploads/image2.jpg" alt=""></a>
												<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image31.jpg"><img src="/images/uploads/image3.jpg" alt=""></a>
												<div class="vd-it">
													<img class="vd-img" src="/images/uploads/image4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/images/uploads/play-vd.png" alt=""></a>
												</div>
											</div>
											<div class="title-hd-sm">
												<h4>cast</h4>
												<a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">
												@foreach (var actor in Model.Cast.Take(10)) // Show first 10 actors
												{
													<div class="cast">
														<div class="cast-photo">
															@{
																string profilePath = actor.ProfilePath != null
																? $"https://image.tmdb.org/t/p/w185/{actor.ProfilePath}"
																: "https://adaptcommunitynetwork.org/wp-content/uploads/2023/09/person-placeholder.jpg";
															}
															<img src="@profilePath" height="75" width="75" loading="lazy" class="card-img-top" alt="@actor.Name" />
														</div>
														<div class="cast-info">
															<div class="cast-info-name">
																<a href="#">@actor.Name</a>
															</div>
															<div class="cast-info-character">
																<p>as @actor.Character</p>
															</div>
														</div>
													</div>
												}
											</div>
											<!-- movie user review -->

										</div>
										<div class="col-md-4 col-xs-12 col-sm-12">
											<div class="sb-it">
												<h6>Director: </h6>
												<p><a href="#">@Model.Director</a></p>
											</div>
											<div class="sb-it">
												<h6>Writer: </h6>

												@if (Model.Writers != null && Model.Writers.Any())
												{
													<p>
														@* @foreach (var writer in Model.Writers)
														{
															<span class="badge bg-secondary me-1">@writer</span>
														}  *@

														<span>
															@string.Join(", ", Model.Writers)</span>

													</p>
												}

											</div>
											<div class="sb-it">
												<h6>Stars: </h6>
												<p>
													@foreach (var actor in Model.Cast.Take(10)) // Show first 10 actors
													{
														<a href="#">@actor.Name,</a>


													}
												</p>

											</div>
											<div class="sb-it">
												<h6>Genres:</h6>
												@if (Model.Movie.Genres != null && Model.Movie.Genres.Any())
												{
													<p>
														@* @foreach (var genre in Model.Movie.Genres)
														{
															<span class="badge bg-secondary me-1">@genre</span>
														} *@
														<span class="badge bg-secondary me-1">@Model.Movie.GenresFormatted</span>
													</p>
												}
												@* <p>
													<a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a>
												</p> *@
											</div>
											<div class="sb-it">
												<h6>Release Date:</h6>
												<p>@Convert.ToDateTime(@Model.Movie.ReleaseDate).ToString("yyyy") (U.S.A)</p>
											</div>
											<div class="sb-it">
												<h6>Run Time:</h6>
												<p>@Model.Movie.Runtime min</p>
											</div>
											<div class="sb-it">
												<h6>MMPA Rating:</h6>
												<p>@Model.Movie.MPARating</p>
											</div>
											@* <div class="sb-it">
												<h6>Plot Keywords:</h6>
												<p class="tags">
													<span class="time"><a href="#">superhero</a></span>
													<span class="time"><a href="#">marvel universe</a></span>
													<span class="time"><a href="#">comic</a></span>
													<span class="time"><a href="#">blockbuster</a></span>
													<span class="time"><a href="#">final battle</a></span>
												</p>
											</div> *@
											<div class="ads">
												<img src="/images/uploads/ads1.png" alt="">
											</div>
										</div>
									</div>
								</div>
								<div id="reviews" class="tab review">
									<div class="row">
										<div class="rv-hd">

											@if (User.Identity.IsAuthenticated)
											{

												@*  <a href="#" class="redbtn">Write Review</a>  *@
											}
											else
											{
												<p><a href="#" class="loginLink">Login</a> to write a review.</p>
											}

										</div>


										@if (Model.Reviews != null)
										{
											@foreach (var review in Model.Reviews)
											{
												<div class="mv-user-review-item">
													<h3>@review.Subject</h3>

													<p class="time">
														@review.CreatedAt.ToLocalTime().ToString("g") <a href="#"> @review.User.Username</a>
													</p>
													<p>@review.Content</p>
												</div>
											}
										}
										else
										{
											<div class="mv-user-review-item">
												<p>No reviews yet for this movie.</p>
											</div>
										}

									</div>

									@if (User.Identity.IsAuthenticated)
									{


										<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 51px;">
											<div class="form-style-1 user-pro" action="#">
												<p class="stars">
													@* <label class="myrating">0</label> *@
													<span class="rate-stars">
														<a class="star-1">1</a>
														<a class="star-2">2</a>
														<a class="star-3">3</a>
														<a class="star-4">4</a>
														<a class="star-5">5</a>
													</span>
												</p>
												<form id="ajaxReviewForm"  class="user">
													@Html.AntiForgeryToken()
													<input type="hidden" name="movieId" value="@Model.MovieId" />
													<input type="hidden" id="rate" name="rate" value="" />

													<h4>Submit Review</h4>
													<div class="row">
														<div class="col-md-12 form-it">
															@* <label>Subject</label> *@
															<input type="text" placeholder="Subject Line...">
														</div>
													
													</div>
													<div class="row">
														<div class="col-md-12 form-it">
															@* <label>First Name</label> *@
															<textarea style="height: 200px;background-color: #233a50;border: none;font-size: 12px;color: #abb7c4;border-radius: 3px !important;" name="content"
																	  rows="5"
																	  placeholder="Write your review…"
																	  required></textarea>
														</div>
														
													</div>
												
													<div class="row">
														<button type="submit" class="redbtn" style="margin-left:15px;">
															<span class="spinner-border spinner-border-sm me-1 d-none"></span>
															Post Review
														</button>
													</div>
												</form>
												
											</div>
										</div>


										
									}

								</div>
								<div id="cast" class="tab">
									<div class="row">
										<h3>Cast & Crew of</h3>
										<h2>@Model.Movie.Title</h2>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Directors & Credit Writers</h4>
										</div>
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left">
													<a href="#">@Model.Director</a>
												</div>

											</div>
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Credit Writers</h4>
										</div>
										@foreach (var writers in Model.Writers)
										{
											<div class="cast">
												<div class="cast-initials">
													<h4>@writers.GetInitials()</h4>
												</div>
												<div class="cast-info">
													<div class="cast-info-name">
														<a>@writers</a>
													</div>
												</div>
											</div>
										}
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										<div class="mvcast-item">
											@foreach (var actor in Model.Cast) // Show first 10 actors
											{
												<div class="cast">
													<div class="cast-photo">
														@{
															string profilePath = actor.ProfilePath != null
															? $"https://image.tmdb.org/t/p/w185/{actor.ProfilePath}"
															: "https://adaptcommunitynetwork.org/wp-content/uploads/2023/09/person-placeholder.jpg";
														}
														<img src="@profilePath" height="75" width="75" loading="lazy" class="card-img-top" alt="@actor.Name" />
													</div>
													<div class="cast-info">
														<div class="cast-info-name">
															<a href="#">@actor.Name</a>
														</div>
														<div class="cast-info-character">
															<p>as @actor.Character</p>
														</div>
													</div>
												</div>
											}
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Produced by</h4>
										</div>
										<div class="mvcast-item">
											@foreach (var producer in Model.Producers) // Show first 10 actors
											{
												<div class="cast-it">
													<div class="cast-left">
														@{
															string profilePath = producer.ProfilePath != null
															? $"https://image.tmdb.org/t/p/w185/{producer.ProfilePath}"
															: "https://adaptcommunitynetwork.org/wp-content/uploads/2023/09/person-placeholder.jpg";
														}

														<img src="@profilePath" height="75" width="75" loading="lazy" class="card-img-top" alt="@producer.Name" />

														<a href="#">@producer.Name</a>
													</div>
													
												</div>
											}
										
										</div>
									</div>
								</div>
								<div id="media" class="tab">
									<div class="row">
										<div class="rv-hd">
											<div>
												<h3>Videos & Photos of</h3>
												<h2>Skyfall: Quantum of Spectre</h2>
											</div>
										</div>
										<div class="title-hd-sm">
											<h4>Videos <span>(8)</span></h4>
										</div>
										<div class="mvsingle-item media-item">
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="/images/uploads/vd-item1.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
													<p class="time"> 1: 31</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="/images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
													<p class="time"> 1: 03</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="/images/uploads/vd-item3.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Robert Downey Jr</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="/images/uploads/vd-item4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Scarlett Johansson</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="/images/uploads/vd-item1.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a></h6>
													<p class="time"> 1: 31</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="/images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Director Joss Whedon</a></h6>
													<p class="time"> 1: 03</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="/images/uploads/vd-item3.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Mark Ruffalo</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="/images/uploads/vd-item4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Official Trailer #2</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
										</div>
										<div class="title-hd-sm">
											<h4>Photos <span> (21)</span></h4>
										</div>
										<div class="mvsingle-item">
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image11.jpg"><img src="/images/uploads/image1.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image21.jpg"><img src="/images/uploads/image2.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image31.jpg"><img src="/images/uploads/image3.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image41.jpg"><img src="/images/uploads/image4.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image51.jpg"><img src="/images/uploads/image5.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image61.jpg"><img src="/images/uploads/image6.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image71.jpg"><img src="/images/uploads/image7.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image81.jpg"><img src="/images/uploads/image8.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image91.jpg"><img src="/images/uploads/image9.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image101.jpg"><img src="/images/uploads/image10.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image111.jpg"><img src="/images/uploads/image1-1.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image121.jpg"><img src="/images/uploads/image12.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image131.jpg"><img src="/images/uploads/image13.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image141.jpg"><img src="/images/uploads/image14.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image151.jpg"><img src="/images/uploads/image15.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image161.jpg"><img src="/images/uploads/image16.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image171.jpg"><img src="/images/uploads/image17.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image181.jpg"><img src="/images/uploads/image18.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image191.jpg"><img src="/images/uploads/image19.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image201.jpg"><img src="/images/uploads/image20.jpg" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="/images/uploads/image211.jpg"><img src="/images/uploads/image2-1.jpg" alt=""></a>
										</div>
									</div>
								</div>
								<div id="moviesrelated" class="tab">
									<div class="row">
										<h3>Related Movies to</h3>
										<h2>Skyfall: Quantum of Spectre</h2>
										<div class="topbar-filter">
											<div class="found-items">Found <span>12 movies</span> in total</div>
											<div class="filters">
												<label for="sort">Sort by:</label>
												<select name="sort">
													<option value="popularity">Popularity Descending</option>
													<option value="popularity">Popularity Ascending</option>
													<option value="rating">Rating Descending</option>
													<option value="rating">Rating Ascending</option>
													<option value="date">Release date Descending</option>
													<option value="date">Release date Ascending</option>
												</select>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="/images/uploads/mv1.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">oblivion <span>(2012)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
												<p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">@Model.Director</a></p>
												<p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="/images/uploads/mv2.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">into the wild <span>(2014)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
												<p class="describe">As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat...</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
												<p>Stars: <a href="#">Chris Evans,</a> <a href="#">Samuel L. Jackson,</a> <a href="#">  Scarlett Johansson</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="/images/uploads/mv3.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">blade runner  <span>(2015)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
												<p class="describe">Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help...</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Peyton Reed</a></p>
												<p>Stars: <a href="#">Paul Rudd,</a> <a href="#"> Michael Douglas</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="/images/uploads/mv4.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">Mulholland pride<span> (2013)  </span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.2</span> /10</p>
												<p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Shane Black</a></p>
												<p>Stars: <a href="#">Robert Downey Jr., </a> <a href="#">  Guy Pearce,</a><a href="#">Don Cheadle</a></p>
											</div>
										</div>
										<div class="movie-item-style-2">
											<img src="/images/uploads/mv5.jpg" alt="">
											<div class="mv-item-infor">
												<h6><a href="#">skyfall: evil of boss<span> (2013)  </span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>7.0</span> /10</p>
												<p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Alan Taylor</a></p>
												<p>Stars: <a href="#">Chris Hemsworth,  </a> <a href="#">  Natalie Portman,</a><a href="#">Tom Hiddleston</a></p>
											</div>
										</div>
										<div class="topbar-filter">
											<label>Movies per page:</label>
											<select>
												<option value="range">5 Movies</option>
												<option value="saab">10 Movies</option>
											</select>
											<div class="pagination2">
												<span>Page 1 of 2:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
@section Scripts{
	<script>
		$(function(){

		  var $form   = $('#ajaxReviewForm'),
			  $btn    = $form.find('button[type="submit"]'),
			  $spin   = $btn.find('.spinner-border'),
			  $error  = $('#reviewError'),
			  $reviews= $('#reviewsContainer');

		  $form.on('submit', function(e){
			e.preventDefault();
			$error.addClass('d-none').text('');
			$btn.prop('disabled', true);
			$spin.removeClass('d-none');

			$.ajax({
			  url: '@Url.Action("AddReviewAjax", "Movies")',
			  method: 'POST',
			  data: $form.serialize()
			})
			.done(function(data){
				location.reload();
			  // build a new review card
			  var html =
				'<div class="card mb-2">'+
				  '<div class="card-body">'+
					'<strong>'+ data.username +'</strong> '+
					'<small class="text-muted">'+ data.createdAt +'</small>'+
					'<p>'+ data.content +'</p>'+
				  '</div>'+
				'</div>';
			  // prepend to reviews
			  $reviews.prepend(html);
			  // clear textarea
			  $form.find('textarea[name="content"]').val('');
			})
			.fail(function(xhr, status, error){
				var jsonResponse = JSON.parse(xhr.responseText);
				
						$.toast({
							text: jsonResponse["error"], // Text that is to be shown in the toast
							heading: 'Error', // Optional heading to be shown on the toast
							icon: 'error', // Type of toast icon
							showHideTransition: 'fade', // fade, slide or plain
							allowToastClose: true, // Boolean value true or false
							hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
							stack: 5, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
							position: 'bottom-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values



							textAlign: 'left',  // Text alignment i.e. left, right or center
							loader: true,  // Whether to show loader or not. True by default
							loaderBg: '#9EC600',  // Background color of the toast loader

						});

				// $('#reviewError').show();
			 //  var msg = (xhr.responseJSON && xhr.responseJSON.error)
				// 		? xhr.responseJSON.error
				// 		: 'An error occurred.';
			 //  $error.text(msg).removeClass('d-none');
			})
			.always(function(){
			  $spin.addClass('d-none');
			  $btn.prop('disabled', false);
			});
		  });
		});

		 $('.stars a').on('click', function() {
			$('.stars span, .stars a').removeClass('active');

			$(this).addClass('active');
			$('.stars span').addClass('active');
			//alert($(this).text());
			//$('.myrating').html($(this).text());
			$('#rate').val($(this).text())
		});
	</script>
}