@model List<GummyMeter.Models.MovieViewModel>

<div class="slick-multiItemSlider">
@foreach (var movie in Model)
{
    <div class="movie-item">
            <a href="/Movies/Details/@movie.Id">
        <div class="mv-img">
           
                <img src="@(movie.PosterPath != null ? $"https://image.tmdb.org/t/p/w500/{movie.PosterPath}" : "https://via.placeholder.com/285x437?text=No+Image")" width="285" height="437" class="card-img-top" alt="@movie.Title" loading="lazy" />
                @* <img src="images/uploads/slider1.jpg" alt="" width="285" height="437"> *@
           
        </div>
            </a>
     @*    <div class="title-in">
            <div class="cate">
            </div>
            <h6><a href="/Movies/Details/@movie.Id">@movie.Title</a></h6>
         
        </div> *@

            <div style="display:flex;text-align: center;vertical-align: middle;">
                    <!-- Tomatometer -->
                <div class="meter" style="text-align: center;vertical-align: middle;">
                        <div class="meter-circle meter-tomato">
                        <img src="~/images/uploads/juicy.png" height="25" width="25" style="width:100%" />
                        <div style=" margin-top: 20px;">
                            <span style="font-size:medium">@movie.FakeTomatometer %</span>
                            <span style="font-size:small"> Gummy</span>
                        </div>
                           
                        </div>
                        @*   <div class="meter-label">Gummy Score</div> *@
                    </div>

                <div class="meter" style="text-align: center;vertical-align: middle;">
                        <div class="meter-circle meter-tomato">
                        <img src="~/images/uploads/sticky.png" height="25" width="25" style="width:100%"  />
                        <span style="font-size:medium">@movie.FakePopcornmeter % <br /> splat</span><br />
                  
                        </div>
                        @*   <div class="meter-label">Gummy Score</div> *@
                    </div>

            
                </div>
    </div>
        
}
</div>

